<div class="container">
  <div id="info">
    <div class="left">
      <h4>{{this.display.title.value}}<span [ngClass]="this.display.title.descriptionColor">${{this.display.title.description}}</span>
      </h4>
      <h6><span [ngClass]="this.display.title.descriptionColor">{{this.display.subTitle.value1}}%</span> Today</h6>
    </div>
    <div class="right">
      <button class="btn icon-btn" (click)="closePanel()"><span class="glyphicon glyphicon-remove"></span></button>

    </div>
  </div>
  <div class="stock-chart" style="display:block">
    <line-chart [span]="this.selectedSpan" [pointSize]="1" style="display:block; width: 100%; height: 100%"
                [symbol]="this.stock.instrument.symbol"></line-chart>
  </div>
  <div class="carousel">
    <div class="time-range-selector">
      <button [ngClass]="{selected: this.selectedSpan === 'day'}" (click)="this.setChartSpan('day')" type="button" class="btn btn-success">Day</button>
      <button [ngClass]="{selected: this.selectedSpan === 'week'}" (click)="this.setChartSpan('week')" type="button" class="btn btn-success">Week</button>
      <button [ngClass]="{selected: this.selectedSpan === 'month'}" (click)="this.setChartSpan('month')" type="button" class="btn btn-success">Month</button>
      <button [ngClass]="{selected: this.selectedSpan === 'year'}" (click)="this.setChartSpan('year')" type="button" class="btn btn-success">Year</button>
      <button [ngClass]="{selected: this.selectedSpan === '5-year'}" (click)="this.setChartSpan('5-year')" type="button" class="btn btn-success">5 Year</button>
    </div>
    <h5>{{this.display.companyName}}</h5>
    <div class="numericData">
      <div *ngFor="let i of this.display.dataItems" class="data-item">
        <h5 class="text-muted">{{i.label}}</h5>
        <h6>{{i.detail}}</h6>
      </div>
    </div>
    <div class="company-summary">
      <div>
        <h5>Details</h5>
      </div>
      <div class="company-details">
        {{this.display.details}}
      </div>
    </div>
  </div>
</div>
