@import '../../styles/white-theme';

.container{
  height: calc(100vh - 70px);
  background-color: white;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;

  div {
    margin: 10px 0px;
  }

  p {
    color: $normal-font-color;
    font-size: $xs-font-size;
    margin: 8px auto;
  }

  .company-summary{
    .company-details{
      text-align:justify-all;
    }
  }

  #info{
    height: 50px;
    @include flex-div-btw();
  }

  .stock-chart{
    height: 200px;
  }
  .carousel{
    height: 60%;
    overflow-y: scroll;
  }
  .numericData{
    display:flex;
    justify-content: center;
    flex-flow: wrap;
    margin:0px !important;
    .data-item{
      min-width: 33%;
      margin:0px !important;
    }
  }
}

.time-range-selector {
  display: flex;
  justify-content: center;
  button{
    padding-left:5px;
    padding-right: 5px;
    min-width:5em;
  }
}
